@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scroll {
    animation: scroll 1.5s infinite;
  }
  
  .animate-spin-slow {
    animation: spin 10s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: none;
}

a, button {
  cursor: none;
}

a:hover ~ .cursor,
button:hover ~ .cursor {
  transform: scale(1.5);
}